:root {
    --w: 0.5em;
}

label, input[checkbox] {
    display: inline-block;
    cursor: pointer;
    z-index: 100;
}

table {
    display: block;
    z-index: 1;
    background-color: inherit;
    padding: 0;
    border-spacing: 0;
    user-select: none;
}

#rotate:checked + table {
    transform-origin: 50% 50%;
    transform: rotate(-90deg) translate(-2em, 0em);
    width: 38em;
    overflow: visible;
    height: 34em;
    margin-bottom: 5em;
}

tbody:focus {
    outline: 0;
}

tr {
    display: flex;
}

tr:not(.master).scrubber td {
    opacity: 1;
}
tr:not(.master).scrubber td:not(:first-child) {
    background: red;
    width: 100%;
}

tr.scrubber {
    height: 1px;
    padding: 0px;
}

tr:not(.master) td {
    opacity: 0.2;
}
tr:not(.master).major td {
    opacity: 0.3;
}

td {
    display: block;
    background-color: inherit;
    border: none;
}

td.label {
    font-family: monospace;
    font-weight: bold;
    width: 1.5em;
    line-height: 2em;
    text-align: center;
}

#rotate:checked + table td.label {
    transform: rotate(90deg);
}

td.label.highlight {
    background: rgb(189, 231, 229);
}

tr:not(.master) td.label {
    opacity: 1;
}

tr:not(.master) td.green {
    opacity: 0.5;
    background-color: lime;
}

tr:not(.master) td.red {
    opacity: 0.5;
    background-color: red;
}

.key {
    z-index: 0;
    background: rgb(252, 249, 243);
    border: 1px solid black;
    height: 1.5em;
    width: var(--w);
}

.cd , .de , .fg , .ga , .ab {
    background: rgb(35, 35, 53);
    z-index: 1;
}

.key.e + .key.f {
    margin-left: calc(var(--w) / -4);
}
